@import "variables";

.part-about-author {
  margin: auto 0;
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;

  .about-author {
    display: flex;
    justify-content: center;
    max-width: 1100px;
    margin: 30px auto;
  }

  .author-image {
    width: 350px;
    height: 100%;
  }

  .text-about-author {
    margin-left: 60px;
    font-family: "Open Sans", sans-serif;
    color: #4a4a49;

    h3 {
      font-size: 20px;
      padding: 10px;
    }

    p {
      padding: 10px;
      line-height: 200%;
    }
  }
}
