@import "variables";

.part-about-author {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.author-image {
  width: 350px;
  height: 100%;
}

.text-about-author {
  margin-left: 60px;
  font-family: "Open Sans", sans-serif;
  color: #4a4a49;

  h3 {
    font-size: 20px;
    padding: 10px;
  }

  p {
    padding: 10px;
    line-height: 200%;
  }

}

.about-author {

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  width: 60%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

