$navbarcolor: #5B605F;
$headingcolor: #4a4a49;
$headingtextcolor: #FF6600;
$buttonscolor: #FFFFFA; /* przyciski, wyróżnienia, nagłówki ekranów */
$windowcolor: #FFFFFA; /* kolor tła ekranów */
$messagecolor: #3498DB; /* kolor wiadomości typu info */
$warningmessagecolor: #FFB03B; /* kolor wiadomości typu warning */
$successmessagecolor: #468966; /* kolor wiadomości typu success */
$biniconcolor: #BD4932; /* kolor ikony kosza */
$tabtextcolor: #A1A194; /* kolor tekstu z wierszy w tabelach, ikony rozszerzonych funkcji */

$fontOpenSans: 'Open Sans', sans-serif;
$fontCharmonman: 'Charmonman', cursive;